* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Figtree", sans-serif;
    --text-preset-1: 800 1.5rem/1.5 var(--font-family);
    --text-preset-2: 500 1rem/1.5 var(--font-family);
    --text-preset-3: 500 0.875rem/1.5 var(--font-family);
    --text-preset-4: 800 0.875rem/1.5 var(--font-family);

    --color-primary: #F4D04E;
    --color-secondary: #111111;
    --color-tertiary: #6B6B6B;
    --bg-color: #FFFFFF;
}

body {
    min-height: 100vh;

    background-image: repeating-linear-gradient(to right,
            #F4D04E 0,
            /* faixa clara */
            #F4D04E 60px,
            #e0bd45 60px,
            /* mesma cor um pouco mais escura */
            #e0bd45 120px);
}

.main {
    padding: 24px;

    width: 384px;
    height: 522px;

    border: 1px solid var(--color-secondary);
    box-shadow: 8px 8px 0px var(--color-secondary);
    border-radius: 20px;
    background-color: var(--bg-color);
}

